.fa{
    padding-right: 10px !important; 
}
.img-circle {
    /*background-size: 32px 32px;
    border-radius: 50%;
    display: block;
    margin: -1px;
    overflow: hidden;
    position: relative;
    height: 32px;
    width: 32px;
    z-index: 0;*/
background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    width: 45px;
    height: 45px;
     
}